@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
/* navbar */
.nav-bar {
    position: relative;
    width: 100%;
    height: 4.25em;
    background-color: #2d4263;
  }
  
  .nav-bar .text-wrapper  {
    position: absolute;
    top: 20%;
    left: 1em;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 2em;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
    color: black;
  }
  .nav-bar .text-wrapper a.link{
    text-decoration: none;
  }
  
  .nav-bar .login a{
    position: absolute;
    height: 1.5em;
    top: 1em;
    left: 90%;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
  }
  
  .nav-bar .ranking,.nav-bar .search{
    display: inline-block;
  }
  .nav-bar .ranking i{
    width: 5em;
    left: 78%;
    position: absolute;
    color: #ffffff;
    height: 2em;
    margin-right: -5%;
    top: 1em;
  }
  .nav-bar .search i{
    width: 5em;
    left: 68%;
    position: absolute;
    color: #ffffff;
    height: 2em;
    margin-right: -5%;
    top: 1em;
  }
  
  .nav-bar .ranking a{
    position: absolute;
    height: 1.5em;
    top: 1em;
    left: 80%;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
  }

  .nav-bar .ranking i,.nav-bar .search i{
    color: #ffffff;
    font-size: 1.5em;
    
  }
  
  .nav-bar .search a{
    position: absolute;
    height: 1.5em;
    top: 1em;
    left: 70%;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
  }

/* ---------------- */
    /* footer */
    footer{
        margin-top: 20%;
    }
    .row {
        
        display: flex;
        align-items: center;
    }
    
    .row li {
        list-style: none;
    }
    
    .row li a {
        color: #3463AE;
        text-decoration: none;
    }
    
    .infor3 {
        border-top: solid 0.5px #EE4F1D;
        display: block;
        text-align: center;
        padding-top: 1em;
    }
    
    div p {
        font-weight: bold;
        padding-left: 1.2em;
    }
    
    /* Optional: Add margin or padding for spacing between the columns */
    .row>div {
        margin: 1em 0;
    }
    
    /* Optional: If you want to center-align the content in each column */
    .row>div {
        text-align: center;
    }
    

